<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

         <body>
             @RenderBody()
    

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Content/Scripts/angularRoutes.js")
        @Scripts.Render("~/Content/Controllers/HomeController.js")
        @Scripts.Render("~/Content/Controllers/AddCourseController.js")
        @Scripts.Render("~/Content/Controllers/RegisterStudentController.js")
        @Scripts.Render("~/Content/Controllers/RegisterProfessorController.js")
        @Scripts.Render("~/Content/Controllers/AddSectionController.js")
        @Scripts.Render("~/Content/Controllers/StudentHomeController.js")
        @Scripts.Render("~/Content/Controllers/ProfessorHomeController.js")
        @Scripts.Render("~/Content/Controllers/AddBuildingController.js")
        @Scripts.Render("~/Content/Controllers/SignUpController.js")
        @RenderSection("scripts", required: false)
    </body>

</html>
